@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: black;
    font: 18px sans-serif;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #4357;
}
.container {
    background-color: rgb(255,255,255);
    margin: 2rem auto;
    max-width: 70rem;
    width: 90%;
}

.header {
    align-items: center;
    border-bottom: 2px solid rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
}

.header__nav_list {
    display: flex;
}

.header__nav_listItem {
    list-style-type: none;
    margin: 1rem;
}

.header__nav_listItem:hover {
    border-bottom: 3px solid #5f4357;
    transition: .5s;
}
.profile__section {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.profile__section_info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.profile__section_heading {
    margin-bottom: .5rem;
}

.profile__section_image {
    height: auto;
    max-width: 100%;
    border: 1px solid rgb(10, 10, 10);
}

.profile__section_listItem {
    list-style-type: none;
    font-size: 16px;
    padding: .1rem;
}

p {
    font-size: 16px;
    padding-bottom: .5rem;
}

.projects__title {
    padding-bottom: 1rem;
    text-align: center;
}

.projects__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.projects__column {
    margin: 1rem;
}

.projects__column_title {
    padding-bottom: .5rem;
    text-align: center;
}

.projects__column_image {
    height: auto;
    max-width: 100%;
}

.footer {
    align-items: center;
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.footer__social_linkedin {
    height: auto;
    width: 30px;
}

.footer__social_github {
    height: auto;
    width: 30px;
}

@media only screen and (max-width: 750px) {

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.profile__section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.projects__section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

}
